body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

#btn-generate-animals {
    position: absolute;
    top: 5%;
    left: 44.5%;
    cursor: pointer;
}

#btn-start {
    position: absolute;
    top: 10%;
    left: 47.5%;
    cursor: pointer;
}

#section-left {
    width: 25%;
    background-color: #0B7229;
    display: flex;
    justify-content: flex-start;
}

#left-grid {
    display: grid;
    /* background-color: black; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    padding: 10px;
}

/* animal start position containers */
#left-grid > div {
    height: 10vh;
    width: 10vh;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-middle {
    width: 50%;
    background-color: #2587be;
}

#section-right {
    width: 25%;
    background-color: #0B7229;
    display: flex;
    justify-content: flex-end;
}

#right-grid {
    display: grid;
    /* background-color: black; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    padding: 10px;
}

#right-grid > div {
    height: 10vh;
    width: 10vh;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#animal-start {
    height: 10vh;
    width: 10vh;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 18%;
}

#raft-start {
    height: 35vh;
    width: 25vh;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 32.5%;
    left: 27%;
}

#raft-end {
    height: 35vh;
    width: 25vh;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position:  absolute;
    top: 32.5%;
    left: 60.5%;
}

#animal-end {
    height: 10vh;
    width: 10vh;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 77%;
}

#raft-start-top {
    height: 10vh;
    width: 10vh;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 30%;
    z-index: 2;
}

#raft-start-bottom {
    height: 10vh;
    width: 10vh;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 30%;
    z-index: 2;
}

#raft-end-top {
    height: 10vh;
    width: 10vh;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 30%;
    z-index: 2;
}

#raft-end-bottom {
    height: 10vh;
    width: 10vh;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 30%;
    z-index: 2;
}

.G {
    font-size:40px;
    color:rgb(0,0,0);
    font-style:normal;
    font-weight:normal;
    z-index: 3;
}

.L { 
    font-size:40px;
    color:rgb(0,0,0);
    font-style:normal;
    font-weight:normal;
    z-index: 3;
}

#raft {
    height: 33vh;
    width: 23vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    background-color:black;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

#btn-rewind-stage {
    color: white;
    margin-right: 3%;
    font-size: 150%;
    cursor: pointer;
}

#btn-slow-down {
    color: white;
    margin-right: 3%;
    font-size: 150%;
    cursor: pointer;
}

#btn-pause {
    color: white;
    font-size: 150%;
    cursor: pointer;
}

#btn-resume {
    color: white;
    font-size: 150%;
    cursor: pointer;
    display: none;
}

#btn-speed-up {
    color: white;
    margin-left: 3%;
    font-size: 150%;
    cursor: pointer;
}

#btn-skip-stage {
    color: white;
    margin-left: 3%;
    font-size: 150%;
    cursor: pointer;
}